In [5]:
import pandas as pd

df = pd.read_csv("../data/raw/IMDB Dataset.csv")
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [7]:
df.sample(5)

                                                  review sentiment
25162  Don't tell me this film was funny or a little ...  negative
17290  I just watched The Incredible Melting Man for ...  negative
26157  The VHS cover for The Evil Below makes it look...  negative
11920  First off, I must admit that both films I've s...  negative
38549  I would have been about 11 years old when this...  positive

In [8]:
df['sentiment'].unique()

array(['positive', 'negative'], dtype=object)

In [9]:
df['sentiment'] = df['sentiment'].map({
    'positive': 1,
    'negative': 0
})

In [10]:
df['sentiment'].value_counts()

sentiment
1    25000
0    25000
Name: count, dtype: int64

In [11]:
df['review_length'] = df['review'].str.split().str.len()
df['review_length'].describe()

count    50000.000000
mean       231.156940
std        171.343997
min          4.000000
25%        126.000000
50%        173.000000
75%        280.000000
max       2470.000000
Name: review_length, dtype: float64

In [12]:
import os

os.makedirs("../data/processed", exist_ok=True)

In [13]:
df[['review', 'sentiment']].to_csv(
    "../data/processed/imdb_clean_base.csv",
    index=False
)

In [14]:
import re
import nltk
from nltk.corpus import stopwords

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\seyda\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
stop_words = set(stopwords.words('english'))

def clean_text(text):
    text = text.lower()
    text = re.sub(r'<br\s*/?>', ' ', text)
    text = re.sub(r'[^a-z\s]', '', text)
    words = text.split()
    words = [w for w in words if w not in stop_words]
    return ' '.join(words)

In [17]:
df['clean_review'] = df['review'].apply(clean_text)

df[['review', 'clean_review']].head()

,review,clean_review
0,One of the other reviewers has mentioned that ...,one reviewers mentioned watching oz episode yo...
1,A wonderful little production. <br /><br />The...,wonderful little production filming technique ...
2,I thought this was a wonderful way to spend ti...,thought wonderful way spend time hot summer we...
3,Basically there's a family where a little boy ...,basically theres family little boy jake thinks...
4,"Petter Mattei's ""Love in the Time of Money"" is...",petter matteis love time money visually stunni...

In [18]:
import os
os.getcwd()

'C:\\Users\\seyda\\sentiment-analysis-imdb\\notebooks'

In [19]:
os.listdir()

['.ipynb_checkpoints',
 '01_data_exploration.ipynb',
 '02_tfidf_and_naive_bayes.ipynb']

In [20]:
import os
os.listdir("..")

['data', 'models', 'notebooks', 'reports', 'src', 'venv']

In [21]:
df.to_csv("../data/processed/imdb_clean_base.csv", index=False)